.header-text{
    position: relative;
    top: 40%;
}
.text-one{
    position: relative;
    top: 25px;
}
.btn-one{
    position: relative;
    top: 50px;
    left: 200px;
}
.btn-two{
    position: relative;
    left: 30%;
}

@media screen and (max-width: 767px){
    #mobile   {overflow:hidden;}
}

.image-style img{
    background: rgba(29, 29, 29, 0.7);
}


